{% extends "base.html" %}
{% block title %} &Rang; Create New Entry {% endblock %}
{% block content %}
<section class="blogpost">
<h2>Create New Entry</h2>

{% if error %}
<ul class="error">
  <li>{{error}}</li>
</ul>
{% endif %}
<form method="POST">
    <label>
      Title: <br>
      <input type="text" name="title" value="{{title}}"> </label>
    <label>
      Entry content: <br>
    <textarea name="entry">{{entry}}</textarea></label>
    <input type="submit" value="submit">
</form>
</section>
{% endblock %}